.btn {
  border: none;
  cursor: pointer;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  // -------- General --------
  &--inactive {
    cursor: none;
    border-radius: 10rem;
    background-color: $background-dark;
  }

  &--rounded {
    border-radius: 10rem;

    &--big {
      background: $gradient-complete;
      padding: 0.85rem 2.5rem;
      
    }

    &--small {
      background-color: $background-mid;
      padding: 0.5rem 1rem;
      align-content: center;

      & .icon {
        position: relative;
        top: 0.1rem;
      }
    }
  }

  &--circle {
    border-radius: 10rem;
    background: $gradient-complete;
  }

  & .text {
    // position: relative;
    // top: -0.4rem;

    &--left {
      margin-left: 0.6rem;
    }

    &--right {
      margin-right: 0.6rem;
    }

  }

  &--page {
    &:hover {
      background-color: $background-dark;
    }
    .text--pagination { top: -0.1rem; }
  }


  // -------- Specific --------

  &--header { // upload and add bookmark buttons
    padding: 3rem 1.5rem;

    @include respond(screen-620) {
      padding: 4rem 1.5rem;
    }
    
    .text {
      display: none;

      @include respond(screen-560) {
        display: initial;
        margin-left: 0.5rem;
      }
    }

    &:hover {
      background-color: $background-dark;
    }
  }

  &--search {
    position: relative;
    height: 100%;
    padding: 0 3rem;

    @include respond(screen-620) {
      padding: 0.85rem 3rem;
    }

    @include respond(screen-1024) {
      padding: 0.85rem 4rem;
    }

  }
  
  &--servings { // + and - buttons
    background: none;
  }

  &--user, &--add-bookmark {
    display: flex;
    align-items: center;

    & .icon {
      margin: 1rem;
    }
  }

  &--add-bookmark {
    margin-left: 1.2rem;
  }

  &--close { // close button for Upload form
    background: none;
    padding: 0.5rem 1.5rem;
  }
}


