.result {
  background-color: $background-light;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  
  &__main {
    min-height: 85rem; // this is 8.5rem per <li> x 10 <li>'s
    
    margin-bottom: 3rem;
    @include respond(screen-620) {
      margin-bottom: 10rem;
    }
  }

  &__item { // specific results
    transition: all 0.3s;
    text-align: left;
    
    &__link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: all 0.3s;

      .secondary-container {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
      }
    }
    
    &--test { // to be removed
      background-color: $background-mid;
    }
  
    &__logo {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 10rem;
      object-fit: cover;
    }
  
    &__desc {
      display: flex;
      flex-direction: column;
      margin-left: 2.2rem;
      row-gap: 0.4rem;

      .text {
        max-width: 20rem;

        @include respond(screen-480) { max-width: 30rem; }
        @include respond(screen-1024) { max-width: 15rem; }
        @include respond(screen-1250) { max-width: 18rem; }

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  
    &:hover {
      background-color: $background-mid;
      cursor: pointer;

      a {
        transform: translateY(-0.2rem);
      }
    }
  }

  &__pagination {
    margin-top: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

.active {
  background-color: $background-mid;
}



